
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.sectio-des{
    font-size: 18px;
    color: #757575;
}
/* universal header style */
.header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
 
/* nav styling */
nav{
    display: flex;
    align-items: center; 
    /* here these two line should see  */
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 226px;
}
nav ul{
    display: flex;
    margin-right: 230px;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;

}

nav li a{
    text-decoration: none;
    font-size: 20px;

}

/* banner style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    margin-left: 230px;
    height: 350px;
    width: 580px;
}
.banner-content h4{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
}

.banner .con{
    padding: 18px 23px 18px 58px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
/* main universal style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 130px;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-des{
    font-weight: 600;
}

/* skills styling */
.skills h3,p{
    text-align: center;
    margin: o 100px;
}

.skill-card-container .card{
    height: 320px;
    width: 267px;
    background-color: #f6f3f3;
    text-align: justify;
    margin: 10px 20px;
    padding: 14px 5px 0 14px;
    box-shadow: 0px 6pc 50pc 0px #000000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.skill-card-container{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
    
}
.skill-card-container .card-des p{
    text-align: left;
    line-height: 2rem;
    /* justify-content: flex-start; */
}


/* resume sections */
.resume-content{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;

}
.section-title{
    text-align: center;
    font-size: 42px;
}
.comun-title{
    font-size: 41px;
}

.downloded-botton-cv{
    margin-top: 40px;
    margin-left: 40%;
}       

/* footer style */
footer{
    margin-top: 60px;
}

.fotter-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 50px 300px;
}

.secondary-b{
    background-color:#FFF8F3;
    

}
.contact-me {
    width: 560px;
    
    

}
.contact-me .contact-des p{
    text-align: left;
}
.contact-icon-part{
    margin-top: 50px;
}


.contact-icon-part ul{
    display: flex;
    gap: 30px;
    justify-content: left;
    list-style: none;
    margin-left: -36px;
    margin-top: -30px;
}

.contact-icon-part ul a{
    text-decoration: none;

}

.meassage-form input[type="text"] , input[type="email"]{
    height: 24px; 
    border-radius: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: none;
}

footer input textarea{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
    